@{
    ViewData["Title"] = "Home Page";
}

    <section class="hero">
        <div class="container">
            <h1>Bienvenue au King Fahd Palace</h1>
            <p>L'expérience ultime du luxe à Dakar</p>
            <a href="#" class="btn">Réservez maintenant</a>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2>À propos de nous</h2>
            <p>King Fahd Palace est l'hôtel le plus prestigieux de Dakar, offrant des services de classe mondiale et des installations luxueuses pour les voyageurs d'affaires et de loisirs.</p>
        </div>
    </section>
<section class="services">
    <div class="container">
        <h1>Chambres et Suites</h1>
        <div class="d-flex">
            <p>  Découvrez un refuge de luxe où le confort contemporain et l’élégance s’unissent dans nos<br />
                chambres et suites,  offrant  une expérience inoubliable d’un raffinement exquis.
            </p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="float-end"><button type="button" class="btn btn-warning">Voir toutes les chambres</button></div>
        </div>

        <div class="service-grid">
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2021/12/Chambre-superieure-A-1920x1281.jpg" alt="Chambres de luxe" class="service-image" style="width:300px">
                <h3>Chambres Supérieur</h3>
                <p>Profitez de nos chambres spacieuses et élégamment décorées.</p>
            </div>
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2021/12/Executive-room-1920x1280.png" alt="Restaurants gastronomiques" class="service-image" style="width:300px">
                <h3>Chambre de luxe</h3>
                <p>Dégustez des plats exquis préparés par nos chefs renommés.</p>
            </div>
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2021/12/Chambre-delux-B-1920x1281.jpg" alt="Événements et conférences" class="service-image" style="width:300px">
                <h3>Exécutifs</h3>
                <p>Organisez vos événements dans nos salles de conférence modernes.</p>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <h1>Restaurants et Bars</h1>
        <div class="d-flex">
            <p>
                Découvrez un refuge de luxe où le confort contemporain et l’élégance s’unissent dans nos<br />
                chambres et suites,  offrant  une expérience inoubliable d’un raffinement exquis.
            </p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="float-end"><button type="button" class="btn btn-warning">Voir toutes les chambres</button></div>
        </div>

        <div class="service-grid">
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2023/12/Manguier4-950x633.jpg" alt="Chambres de luxe" class="service-image" style="width:300px">
                <h3>Chambres Supérieur</h3>
                <p>Profitez de nos chambres spacieuses et élégamment décorées.</p>
            </div>
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2023/12/Dizzy-bar4-950x634.jpg" alt="Restaurants gastronomiques" class="service-image" style="width:300px">
                <h3>Chambre de luxe</h3>
                <p>Dégustez des plats exquis préparés par nos chefs renommés.</p>
            </div>
            <div class="service">
                <img src="https://www.kingfahdpalacehotels.com/wp-content/uploads/2023/12/Jardin-ocean2-950x633.jpg" alt="Événements et conférences" class="service-image" style="width:300px">
                <h3>Exécutifs</h3>
                <p>Organisez vos événements dans nos salles de conférence modernes.</p>
            </div>
        </div>
    </div>
</section>
